<div class="header">
    <mat-toolbar>
        <button [routerLink]="['/']" mat-raised-button>
            <mat-icon>home</mat-icon>
            <span class="main-nav-label">Home</span>
        </button>
        <button [routerLink]="['/main-event']" mat-raised-button>
            <mat-icon>celebration</mat-icon>
            <span class="main-nav-label">Main Event</span>
        </button>
        <button [routerLink]="['/lodging']" mat-raised-button>
            <mat-icon>cabin</mat-icon>
            <span class="main-nav-label">Lodging</span>
        </button>
        <button [routerLink]="['/rsvp']" mat-raised-button>
            <mat-icon>message</mat-icon>
            <span class="main-nav-label">RSVP</span>
        </button>
    </mat-toolbar>
</div>
