<div class="header">
    <mat-toolbar>
        <button mat-raised-button>
            <mat-icon>home</mat-icon>
            <a [routerLink]="['/']"><span class="main-nav-label">Home</span></a>
        </button>
        <button mat-raised-button>
            <mat-icon>celebration</mat-icon>
            <a [routerLink]="['/main-event']">
                <span class="main-nav-label">Main Event</span>
            </a>
        </button>
        <button mat-raised-button>
            <mat-icon>cabin</mat-icon>
            <a [routerLink]="['/lodging']">
                <span class="main-nav-label">Lodging</span>
            </a>
        </button>
        <button mat-raised-button>
            <mat-icon>message</mat-icon>
            <a [routerLink]="['/rsvp']">
                <span class="main-nav-label">RSVP</span>
            </a>
        </button>
    </mat-toolbar>
</div>
