footer {
    background-color: #383736;
    text-align: center;
    height: fit-content;
    padding: 3em;
    padding-bottom: 4em;
    color: #fefcf6;
    border-top: 1px solid white;
}

div {
    @media (max-width: 900px) {
        display: block;
    }
}

p {

    padding-right: 0;
    @media (min-width: 900px) {
        padding-right: 1em;
    }
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
     div {
         display: block;
         @media (min-width: 900px) {
             display: flex;
             justify-content: center;
             align-items: baseline;
         }
     }
}

.center {
    text-align: center;
    width: 100%;
    @media (max-width: 900px) {
        width: unset;
    }
}

.title {
    font-weight: 500;
    font-size: 1.2em;
}

.main-title {
    font-size: 1.3em;
}