    <div class="banner-image">    
        <h1>RSVP</h1>
    </div>
    <div *ngIf="!submitted" class="form-container">
        <form (ngSubmit)="onSubmit()" #rsvpForm="ngForm">
    
            <div [ngClass]="{'form-group': true, 'error': (email.invalid && (email.dirty || email.touched)) && email.errors?.['required']}">
                <label class="form-label" for="email">*Email:</label>
                <input #email="ngModel"
                    type="email"
                    class="form-control"
                    id="email"
                    required
                    placeholder="Enter your email (required)"
                    [(ngModel)]="model.email"
                    name="email" />
            </div>
            <ng-container *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.['required']">
                <div class="alert">Email is required.</div>
            </ng-container>
    
            <div [ngClass]="{'form-group': true, 'error': (name.invalid && (name.dirty || name.touched)) && name.errors?.['required'] }">
                <label class="form-label" for="name">*Name:</label>
                <input #name="ngModel"
                    type="text"
                    class="form-control"
                    id="name"
                    required
                    placeholder="Enter your name (required)"
                    [(ngModel)]="model.name"
                    name="first-name">
            </div>
            <ng-container *ngIf="name.invalid && (name.dirty || name.touched) && name.errors?.['required']">
                <div class="alert">Name is required.</div>
            </ng-container>
    
            <div class="form-group radio-form-group">
                <span class="form-label">*Will you attend?</span>
                <label for="willAttendY">Accept</label>
                <input type="radio"
                    class="form-control"
                    id="willAttendY"
                    required
                    [value]="true"
                    [(ngModel)]="model.willAttend"
                    name="will-attend">
                <label for="willAttendN">Decline</label>
                <input type="radio"
                    class="form-control"
                    id="willAttendN"
                    required
                    [value]="false"
                    [(ngModel)]="model.willAttend"
                    name="will-attend">
            </div>
    
            <div class="form-group">
                <label class="form-label" for="additionalGuests">Are you responding for additional invitees?</label>
                <textarea type="text"
                    class="form-control"
                    id="additionalGuests"
                    [(ngModel)]="model.additionalGuests" name="additional-guests">
                </textarea>
            </div>
    
            <div class="form-group">
                <label class="form-label" for="dietaryRestrictions">Are there any dietary restrictions?</label>
                <textarea
                    class="form-control"
                    id="dietaryRestrictions"
                    [(ngModel)]="model.dietaryRestrictions" name="dietary-restrictions">
    
                </textarea>
            </div>

            <div [ngClass]="{
                'form-group': true, 
                'error': (code.invalid && (code.dirty || code.touched)) && (code.errors?.['invalidCode'] || code.errors?.['required']),
                'green': code.value == 'silver-fox'}">
                <label class="form-label" for="code">Please enter the code found in our email invite:</label>
                <input #code="ngModel"
                    codeValidator
                    type="text"
                    class="form-control"
                    id="code"
                    required
                    placeholder="Enter your code (required)"
                    [(ngModel)]="model.code"
                    name="code">
            </div>
            <ng-container *ngIf="code.invalid && (code.dirty || code.touched)">
                <div *ngIf="code.errors?.['required']" class="alert">Code is required.</div>
                <div *ngIf="!code.errors?.['required'] && code.errors?.['invalidCode']" class="alert">Code is not valid.</div>
            </ng-container>

            <div class="alert" *ngIf="email.touched && name.touched && code.touched && !rsvpForm.valid">
                <p>Please ensure you have filled out the Name, Email, and Code before submitting the form.</p>
            </div>
            <button type="submit" [disabled]="!rsvpForm.valid">Submit RSVP</button>
        </form>
    </div>
    <div *ngIf="submitted" class="success-msg">
        <h2 class="success">Success!</h2>
        <div *ngIf="model.willAttend == false" class="image-row">
            <h3>Sorry we are going to miss you, but we understand! Enjoy a picture of Griffin!</h3>
            <div class="thank-you-image"></div>
        </div>
        <div *ngIf="model.willAttend == true" class="image-row">
            <h3>Griffin will be happy to see you!!!!!</h3>
            <div class="thank-you-image"></div>
        </div>
    </div>
