:host {
    margin-bottom: 50px;
    font-family: Garamond, serif;
    color: #475247;
}

h1, h2, p {
    text-align: center;
}

.form-container, .success-msg {
    font-size: 20px;
    max-width: 50%;
    @media (max-width: 500px) {
        max-width: 95%;
    }
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    padding: 1em;
    @media (max-width: 900px) {
        display: block;
    }
    @media (max-width: 900px) {
        padding-left: 0;
        padding-right: 0;
        width: 95%;
    }
}

.form-label {
    padding-right: 1em;
    text-align: right;
    width: 35%;
    @media (max-width: 900px) {
        width: 100%;
        text-align: left;
    }
}

input:not([type=radio]), textarea {
    line-height: 1.5;
    width: 50%;
    justify-items: flex-end;
    border-radius: .3em;
    padding: 5px;
    font-size: 18px;
    margin-right: 1em;
    @media (max-width: 900px) {
        display: block;
        width: 100%;
    }
}

textarea {
    height: 5em;
    padding: 5px;

}

button {
    font-size: 18px;
    background-color: #383736;
    color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    border-radius: .3em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

    cursor: pointer;
    &:hover {
        background-color: white;
        color: #383736;
    }
    &:disabled{
        cursor: not-allowed;
        background-color: #383736;
        color: white;
        opacity: .3;
    }
}

input[type="text"], input[type="email"] {
    height: 35px;
}

input[type="radio"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.radio-form-group {
    white-space: nowrap;
    .form-label {
        @media (max-width: 900px) {
            display: block;
            padding-bottom: 1em;
        }
    }

    input {
        margin-right: 5em;
        margin-top:-4px;
    }

    label, input {
        vertical-align: middle;
        white-space: nowrap;
    }
}

.alert {
    color: #a94442;
    margin-left: auto;
    margin-right:auto;
    padding: 5px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #475247;
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}

.row {
    display: flex;
    padding: 2em;
    @media (max-width: 900px) {
        flex-direction: column;
        width: 95%;
        word-wrap: break-word;
    }
}

.label {
    width: 100%
}

.submitted-val {
    width: 70%;
}

.success {
    font-size: 48px;
}

h1 {
    margin: 0;
}

.thank-you-image {
    background: url("../../../assets/IMG_4917.jpeg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    @media (max-width : 500px) {
        width: 90%;
    }
}

.image-row {
    text-align: center;
}

.banner-image {
    background: url("../../../assets/IMG_3810.jpeg");
    filter: brightness(0.9) saturate(40%);
    background-position: 47% 47%;
    background-size: cover;
    width: 100%;
    height: 360px;
    box-shadow: 0 0 8px 8px white inset;
    @media (min-width: 1100px) {
        background-position: 45% 45%;
    }
}
