    <div class="banner-image">    <h1>RSVP</h1>
    </div>
    <div [hidden]="submitted" class="form-container">
        <form (ngSubmit)="onSubmit()" #rsvpForm="ngForm">
    
            <div class="form-group">
                <label class="form-label" for="email">*Email:</label>
                <input #email="ngModel"
                    type="email"
                    class="form-control"
                    id="email"
                    required
                    placeholder="Enter your email (required)"
                    [(ngModel)]="model.email"
                    name="email">
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert">
                    <div *ngIf="email.errors?.['required']">Email is required.</div>
                </div>
            </div>
    
            <div class="form-group">
                <label class="form-label" for="name">*Name:</label>
                <input #name="ngModel"
                    type="text"
                    class="form-control"
                    id="name"
                    required
                    placeholder="Enter your name (required)"
                    [(ngModel)]="model.name"
                    name="first-name">
                <div *ngIf="name.invalid && (name.dirty || name.touched)"
                     class="alert">
                    <div *ngIf="name.errors?.['required']">Name is required.</div>
                </div>
            </div>
    
            <div class="form-group radio-form-group">
                <span class="form-label">*Will you attend?</span>
                <label for="willAttendY">Accept</label>
                <input type="radio"
                    class="form-control"
                    id="willAttendY"
                    required
                    [value]="true"
                    [(ngModel)]="model.willAttend"
                    name="will-attend">
                <label for="willAttendN">Decline</label>
                <input type="radio"
                    class="form-control"
                    id="willAttendN"
                    required
                    [value]="false"
                    [(ngModel)]="model.willAttend"
                    name="will-attend">
            </div>
    
            <div class="form-group">
                <label class="form-label" for="additionalGuests">Are there any additional guests?</label>
                <textarea type="text"
                    class="form-control"
                    id="additionalGuests"
                    [(ngModel)]="model.additionalGuests" name="additional-guests">
                </textarea>
            </div>
    
            <div class="form-group">
                <label class="form-label" for="dietaryRestrictions">Are there any dietary restrictions?</label>
                <textarea
                    class="form-control"
                    id="dietaryRestrictions"
                    [(ngModel)]="model.dietaryRestrictions" name="dietary-restrictions">
    
                </textarea>
            </div>

            <div class="form-group">
                <label class="form-label" for="code">Please enter the code found in your email to submit the form:</label>
                <input #code="ngModel"
                    codeValidator
                    type="text"
                    class="form-control"
                    id="code"
                    required
                    placeholder="Enter your code (required)"
                    [(ngModel)]="model.code"
                    name="code">
                <div *ngIf="code.invalid && (code.dirty || code.touched)"
                     class="alert">
                    <div *ngIf="code.errors?.['required']">Code is required.</div>
                    <div *ngIf="!code.errors?.['required'] && code.errors?.['invalidCode']">Code is not valid.</div>
        
                </div>
            </div>

            <div class="alert" *ngIf="email.touched && name.touched && code.touched && !rsvpForm.valid">
                <p>Please ensure you have filled out the Name, Email, and Code before submitting the form.</p>
            </div>
            <button type="submit" [disabled]="!rsvpForm.valid">Submit RSVP</button>
        </form>
    </div>
    <div [hidden]="!submitted" class="success-msg">
        <h2 class="success">Success!</h2>
        <p>You submitted the following:</p>
        <div class="row">
            <div class="label">Email:</div>
            <div class="submitted-val">{{ model.email }}</div>
        </div>
        <div class="row">
            <div class="label">Name:</div>
            <div class="submitted-val">{{ model.name }}</div>
        </div>
        <div class="row">
            <div class="label">Will Attend:</div>
            <div class="submitted-val">{{ model.willAttend }}</div>
        </div>
        <div class="row">
            <div class="label">Additional Guests:</div>
            <div class="submitted-val">{{ model.additionalGuests }}</div>
        </div>
        <div class="row">
            <div class="label">Dietary Restrictions:</div>
            <div class="submitted-val">{{ model.dietaryRestrictions }}</div>
        </div>
        <br>
        <div class ="image-row">
            <div>Griffin will be happy to see you!!!!!</div>
            <div class="thank-you-image"></div>
        </div>
    </div>
