<div class="container">
    <div class="hero-image">
        <div class="hero-content">
            <h1>Please Join Us On April 20th, 2024 in Nellysford, Virginia!</h1>
            <h2>Venue</h2>

            <div><p>Silver Fox Lavender Farm</p></div>
            <div><p>877 Glenthorne Loop</p></div>
            <div><p>Nellysford, Virginia</p></div>
            <div><a target="_blank" href="https://maps.app.goo.gl/rLooGADiyuLk2uzG6">
                <button mat-raised-button>Directions Here</button></a></div>
            <h3>Dinner</h3>
            <p>Catering by Two Fire Table!</p>
            <!-- TODO add autoplay="1" -->
            <video class="landing-page-card-video" controls=""><source src="//videos.ctfassets.net/b2c2k1zkgqkd/7BsMFELh97gRFmHOULR18m/e5e5081cac51da22c055f69b4264032f/trim.19791EA0-7544-4914-BD86-493D84ABB5B9.MOV" type="video/mp4"></video>
            <p>Time TBD</p>
            <div class="btn-link">
                <a target="_blank" href="https://www.silverfoxlavenderweddings.com">
                    <button mat-raised-button>Silver Fox Lavender Farm</button>
                </a>
            </div>
            <div class="btn-link">
                <a  target="_blank" href="https://twofiretable.com/">
                    <button mat-raised-button>Two Fire Table</button>
                </a>
            </div>
        </div>
    </div>
</div>


