<div class="container">
    <div class="hero-image">
        <div class="hero-content">
            <h1>Main Event</h1>
            <blockquote>Join us for a day not weighed down by extravagance but uplifted by the genuine connection and heartfelt moments 
                that we will treasure for a lifetime. 
            </blockquote>
            <div class="main-info">
                <div class="date-location">
                    <h2>The Wedding</h2>
                    <p>We are delighted that our wedding will take place on <span class="bold">Saturday, the 20th of April, 2024.</span>
                        Please join us at Silver Fox Lavender Farm in Nellysford, Virginia. To add to the magic, Two Fire Table will be 
                        captivating us with their catering. More day-of details to come through email.
                    </p>
                </div>
                <div class="ceremony">
                    <h3>The Ceremony</h3>
                    <p>Plan on arriving around three o'clock in the afternoon at Silver Fox. The address is 
                        877 Glenthorne Loop, Nellysford, Virginia.
                    </p>
                </div>
                <div class="evening">
                    <h3>After I Do</h3>
                    <p>Catering by Two-Fire Table!</p>
                    <p>Dinner, drinks, & dancing!</p>
                </div>
                <div class="things-to-know">
                    <h3>Things To Know</h3>
                    <p>Please prepare for a potentially cool evening as the celebration will take place indoors and outdoors.</p>
                </div>
            </div>
            <div class="video">
                <video class="landing-page-card-video" controls="">
                    <source src="//videos.ctfassets.net/b2c2k1zkgqkd/7BsMFELh97gRFmHOULR18m/e5e5081cac51da22c055f69b4264032f/trim.19791EA0-7544-4914-BD86-493D84ABB5B9.MOV" type="video/mp4">
                </video>
            </div>
            <div class="btn-container">
                <div class="btn-link">
                    <a target="_blank" href="https://www.silverfoxlavenderweddings.com">
                        <button>Silver Fox Lavender Farm</button>
                    </a>
                </div>
                <div class="btn-link">
                    <a  target="_blank" href="https://twofiretable.com/">
                        <button>Two Fire Table</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


