<div class="container">
    <div class="hero-image">
        <h1>We are getting married!</h1>
        <div class="sub-title">
            <div><p>Devon Walther</p></div>
            <div><p>&</p></div>
            <div><p>Alex Colegrove</p></div>
        </div>
        <div class="event-details">
            <div class="flex"><fa-icon [icon]="faCalendar"></fa-icon><p>Saturday, April 20<sup>th</sup>, 2024</p></div>
            <div class="flex"><fa-icon [icon]="faMapLocationDot"></fa-icon><p>Charlottesville, Virginia</p></div>
            <div class="flex"><fa-icon [icon]="faListCheck"></fa-icon><p class="italics">See the details <a [routerLink] = "['/main-event']">here</a></p></div>
        </div>
    </div>
</div>


