:host {
    font-family: Garamond, serif;
    font-size: 1.5em;
}

h1 {
    margin: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    @media (max-width: 500px) {
        font-size: 45px;
        margin: 10px;
    }
    color: #383736;
    font-weight: lighter;
}

.sub-title {
    margin: 30px;
    text-align: center;
    font-size: 40px;
    @media (max-width: 500px) {
        font-size: 35px;
    }
    color: #383736;
}

.event-details {
    margin: 30px;
    text-align: center;
    font-size: 30px;
    @media (max-width: 500px) {
        font-size: 25px;
    }
    color: #383736;
}

img {
    position: absolute;
    width: 100%;
    z-index: -1;
    max-height: 20em;
    opacity: .3;
}

.italics {
    font-style: italic;
}
