.container {
    text-align: center;
    margin:auto;
    width:50%;
    @media (max-width: 900px) {
        width: 95%;
    }
}

ol {
    list-style: none;
    li {
        margin: 10px;
    }
}

a {
    text-decoration: underline;
    color: inherit;
}
